html,
body {
  padding: 0px;
  margin: 0;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/** Scrolling for elements - START*/

.sidebar::-webkit-scrollbar {
  width: 10px;
  opacity: 0.3;
}

.sidebar::-webkit-scrollbar-corner {
  background: #656565;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #656565;
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #555454;
}

.editor::-webkit-scrollbar {
  width: 10px;
  opacity: 0.3;
}

.editor::-webkit-scrollbar-corner {
  background: #656565;
}

.editor::-webkit-scrollbar-thumb {
  background-color: #656565;
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}

.editor::-webkit-scrollbar-track {
  background-color: #555454;
}

/** Scrolling for elements - END*/

.wrapper {
  display: grid;
  grid-template-columns: 2fr;
  height: 100%;
}

.sidebar {
  background: #424242;
  color: #fff;
  z-index: 2;
  display: none;
  height: 100%;
  overflow: auto;
}

.notes-item {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.notes-item:hover {
  cursor: pointer;
  background-color: #656565;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.notes-wrapper {
  display: grid;
}

.notes-time {
  font-size: 11px;
  color: #c7c7c7;
}

.editor {
  height: 100%;
  flex: 1;
  overflow: auto;
}

.footer {
  padding: 10px;
  background: #424242;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 2;
  color: #fff;
  display: grid;
  grid-template-columns: auto auto auto 1fr auto;
  padding: 0;
}

.header {
  align-self: center;
  text-align: center;
  border-bottom: 1px solid #ececec;
}

input:focus {
  outline: none;
}

.title {
  text-align: center;
  border: none;
  padding: 10px;
  font-size: 2em;
  width: 70%;
  background: none;
  color: #505050;
}
